<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cruddy Board Games</title>
</head>
<body>
    <h1>Header partial</h1>
    <nav>
        <ul>
            <li class="nav-li game-box"> <a href="/games">GAMES HOME</a></li>
            <li class="nav-li game-box"> <a href="/games/new">ADD NEW GAME</a></li>
        </ul>
    </nav>