<% include ../partials/header %>

<h2></h2>
<form method="POST" action="/games" >
    <span>Name </span><input type="text">
    <span>Description </span><input type="text"> 
    <span>Description </span><input type="text"> 
    <span>Players </span><input type="number">
</form>

<% include ../partials/footer %>
